.Timeline body {

  background-color: #ffffff;
  min-height: 100vh;
  margin: 0;
  font-family: "Droid Sans", sans-serif;
}
.Timeline img {
  width: 100%
}
.Timeline body:before {
  content: "";
  position: fixed;
  top: 0px;
  left: 50%;
  bottom: 0px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 4px;
  background-color: #1d1d1d;
}
.Timeline body .entries {
  width: calc(100% - 80px);
  max-width: 1000px;
  margin: auto;
  position: relative;
  left: -5px;
}
.Timeline body .entries .entry {
  width: calc(50% - 80px);
  float: left;
  padding: 20px;
  clear: both;
  text-align: right;
}
.Timeline body .entries .entry:not(:first-child) {
  margin-top: -60px;
}
.Timeline body .entries .entry .title {
  font-size: 25px;
  margin-bottom: 2px;
  position: relative;
  color: #1d1d1d;
}
.Timeline body .entries .entry .title:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 4px solid #1d1d1d;
  background-color: #ffffff;
  border-radius: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -73px;
  z-index: 1000;
}
.Timeline body .entries .entry .title.big {
  font-size: 32px;
  margin-bottom: 2px;
  position: relative;
  color: #1d1d1d;
  }
.Timeline body .entries .entry .title.big:before {
  width: 24px;
  height: 24px;
  -webkit-transform: translate(8px, -50%);  
          transform: translate(8px, -50%);
}
.Timeline body .entries .entry .subtitle {
  color: #B8B8B8;
  font-size: 18px;
}
.Timeline body .entries .entry .body {
  color: #1d1d1d;
}
.Timeline body .entries .entry .body p {
  line-height: 1.4em;
}
.Timeline body .entries .entry:nth-child(2n) {
  text-align: left;
  float: right;
}
.Timeline body .entries .entry:nth-child(2n) .title:before {
  left: -63px;
}
.Timeline body .entries .entry:nth-child(2n) .title.big:before {
  -webkit-transform: translate(-8px, -50%);
          transform: translate(-8px, -50%);
}
.Timeline body .entries .entry .event {
  font-size: 32px;
  margin-bottom: 2px;
  position: relative;
  color: #1d1d1d;
}
.Timeline body .entries .entry .event:before {
  content: "";
  position: absolute;
  width: 63px;
  height: 0px;
  border: 2px solid #1d1d1d;
  background-color: #ffffff;
  border-radius: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -78px;
  z-index: 1000;
}
.Timeline body .entries .entry:nth-child(2n) .event:before {
  left: -68px;
}
.Timeline body .entries .entry .year {
  font-size: 32px;
  margin-bottom: 20px;
  position: relative;
  color: #1d1d1d;
}
.Timeline body .entries .entry .year:before {
  content: "";
  position: absolute;
  width: 63px;
  height: 0px;
  border: 2px solid #1d1d1d;
  background-color: #ffffff;
  border-radius: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -78px;
  z-index: 1000;
}
.Timeline body .entries .entry:nth-child(2n) .year:before {
  left: -68px;
}